*{
    text-decoration: none;
    list-style: none;
}
h1,h2,h3{
    color: hsl(229, 31%, 21%);
}

.cta-btn{
    background: hsl(0, 94%, 66%);
    padding: .3em 1.1em;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
}
.blue{
    height: 180px;
    width: 100%;
    background:hsl(231, 69%, 60%);
    border-radius: 9em 0 0 9em;
    position: absolute;
    right:-30%;
    bottom: 0;
}
.bg-blue{
    background: hsl(231, 69%, 60%);
}
.mxp{
    max-width: 500px;
    margin: 20px auto;
}
.left{
    left:-30%;
    border-radius: 0 9em 9em 0;
    bottom:0;
}
.mn{
    min-height: 250px;
}
.tab-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow-x: auto;
    min-height: 300px;
}
.noshrink{
    flex-shrink: 0;
    position: absolute;
    left: 0;
}
.tm-14{
    transform: translateY(16px);
}
.tm-18{
    transform: translateY(22px)
}
.btns:hover{
    background: none;
    border:1px solid;
    color:hsl(231, 69%, 60%);
}
@media (max-width:700px){
    .blue, .left{
        right:0;
        width: 50%;
    }
}