*{
    text-decoration: none;
    list-style: none;
    color:hsl(229, 31%, 21%);
}
h1,h2,h3{
    color: hsl(229, 31%, 21%);
}

.cta-btn{
    background: hsl(0, 94%, 66%);
    padding: .5em 1.8em;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    border:none;
    
}
.cta-btn:hover{
    background: none;
    color: hsl(0, 94%, 66%);
    border:1px solid;
}
.blue{
    height: 180px;
    width: 100%;
    background:hsl(231, 69%, 60%);
    border-radius: 9em 0 0 9em;
    position: absolute;
    right:-30%;
    bottom: 0;
}
.bg-blue{
    background: hsl(231, 69%, 60%);
}
.mxp{
    max-width: 500px;
    margin: 20px auto;
}
.left{
    left:-30%;
    border-radius: 0 9em 9em 0;
    bottom:0;
}
.mn{
    min-height: 250px;
}
.tab-container{
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    
    min-height: 400px;
    overflow: hidden;
}
.noshrink{
    flex-shrink: 0;
    position: absolute;
    left: 0;
    top:-60%;
    opacity: 0;
    transition: .4s ease-in-out;
}
.tm-14{
    transform: translateY(30px);
}
.tm-18{
    transform: translateY(38px)
}
.btns:hover{
    background: none;
    border:1px solid;
    color:hsl(231, 69%, 60%);
}
.mnx{
    max-width: 500px;
}
.btn-blue{
    color: white;
}
.btn:hover{
    border:1px solid;
    color:hsl(231, 69%, 60%);
    background: none;
}
@media (max-width:700px){
    .blue, .left{
        right:0;
        width: 50%;
    }
    .tab-container{
        min-height: 500px;
    }
}